.all{
    overflow: hidden;
}
.contain1 {
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 23px 105px;
    /* background-color: rgb(134, 134, 241); */
    border: none;
    /* border-radius: 48px; */
    /* box-shadow:5px 5px 10px 2px rgba(0, 0, 0, 0.3); */
    margin: 0px 0px 60px 0px;
}
.contain1 .text1{
    width: 50%;
    float: left;
    margin-top: 118px;
    font-size: 55px;
    color: black;
}

.contain1 .icon1{
    width: 50%;
}
.icon1 img{
    width: 400px;
}

/* browse card slider */

.wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color:rgb(173, 218, 246);
    /* border-radius: 20px; */
}

.carousel {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}
.cardtext{
    /* background-color: pink; */
    padding: 20px;
}
.wrapper a{
    text-decoration: none;
}
/* browse card slider ends */

.doc_id_card{
    width: 90%;
    padding: 50px 20px;
}
.doc_id_card h2{
    font-weight: bold;
    font-size: 30px;
    /* margin-left: 20px; */
}
.docprofile{
    display: flex;
    justify-content: space-around;
    padding: 25px 20px;
    /* align-items: center; */
}
.doc_info{
    width: 100%;
    display: flex;
    justify-content: center;
}
.doc{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(86, 84, 84);
    border: none;
    background-color: rgb(176, 179, 180);
    /* box-shadow: rga(0, 0, 0, 0.5); */
    padding: 46px;
    align-items: center;
    border-radius: 6px;
}
.doc button{
    background-color: rgb(38, 38, 194); 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.doc img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.why_book{
    display: flex;
    width: 100%;
    /* background-color: rgb(143, 209, 237); */
}
.card_left{
    width: 50%;
    padding:155px 46px;
    /* margin-top: 66px; */
}
.card_right{
    width: 50%;
    display: flex;
}
.card1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card1 img{
    width: 196px;
    height: 196px;
    padding-left: 16px;
}
.card1 h4{
    padding: 0px 0px 0px 60px;
}
.save_time, .save_money,.payment,.folow_up{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




